​.links {
    text-align:center
}
.links > div {
    vertical-align:top;
    display:inline-block; 
    letter-spacing: 0.1em;
    padding-inline-end: 30px;  
}

h1 {font-family: 'Dancing Script', cursive; font-weight: 600;}
a:hover {color: #B91646; transition: 0.3s;}
a {font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 600; 
    color: #105652;  background-color: #DFD8CA;
    border-radius: 20px; 
    width: auto; 
    height: auto; 
    padding: 5px 30px 5px 30px;}
h2 {font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 700; font-size: 40px;}
article {font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 400; font-size: 20px;}

img {
    opacity: 1.0;
    transition: 2s;
  }
  
  img:hover {
    opacity: 0.5;
    transition: 2s;
  }
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.contact {
    text-align:center
}
.contact > div {
    vertical-align:top;
    display:inline-block;   
}